*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    line-height: 1.5;
}

.content{
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.container{
    width: 20rem;
    margin: 3rem 0rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2.5rem;
}

.sedan-card{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-title{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
}

.card-description{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.car-icon{
    max-width: 100%;
    object-fit: cover;
}

.btn{
    display: block;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 2rem;
    padding: 1em 2.5em;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
}

.sedan-card .btn{
    color: hsl(31, 77%, 52%);
}

.suv-card{
    background-color: hsl(184, 100%, 22%);
}

.suv-card .btn{
    color: hsl(184, 100%, 22%);
}

.luxury-card{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.luxury-card .btn{
    color: hsl(179, 100%, 13%);
}

.attribution { 
    color: initial;
    font-size: 0.9rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 54.5em) {
    .container{
        height: 100vh;
        flex-direction: row;
    }

    .column-card{
        display: flex;
        flex-direction: row;
        width: 54.5em;
        height: 31em;
    }

    .card{
        position: relative;
        justify-content: flex-start;
    }

    .card h2{
        font-size: 2.3em;
    }

    .card p {
        font-size: 0.95em;
    }

    .sedan-card{
        border-top-right-radius: 0em;
        border-bottom-left-radius: 1em;
        margin-top: 0em;
    }

    .luxury-card{
        border-top-right-radius: 1em;
        border-bottom-left-radius: 0em;
    }

    .btn{
        position: absolute;
        bottom: 3em;
    }

    .btn:active{
        background-color: transparent;
        border: 0.15em solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
}