body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    text-align: start;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    overflow-wrap: break-word;
    position: relative;
    padding: 1.5rem 1.5rem 0rem 1.5rem; 
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 30px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px 40px 10px 10px;
    margin: 20px 15px 10px 10px;
}

h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    padding: 10px;
    margin: 10px;
}

img{
    margin: 10px;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
    width: 15%;
    height: 55%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sedans .btn{
    color: hsl(31, 77%, 52%);;
}

#suvs{
    background-color: hsl(184, 100%, 22%);
    width: 15%;
    height: 55%;
}

#suvs .btn{
    color: hsl(184, 100%, 22%);;
}

#luxury{
    background-color: hsl(179, 100%, 13%);
    width: 15%;
    height: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#luxury .btn{
    color: hsl(179, 100%, 13%);
}

.btn{
    background-color: hsl(0, 0%, 95%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 20px;
    position: absolute;
    bottom: 30px;
}