body{
    margin: 0;
    background-color: hsl(0, 0%, 95%);
}

h2{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    font-size: 2rem;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    max-width: 16rem;
    font-size: 1rem;
    line-height: 1.5;
}

.container{
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: start;
}

.column-card{
    margin-top: 3rem;
}

.card{
    max-width: 20rem;
    height: 22rem;
    padding: 2.5rem 2rem;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.sedan .btn{
    color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.suv .btn{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.luxury .btn{
    color: hsl(179, 100%, 13%);
}

.btn{
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 2rem;
    padding: 1em 2em;
    margin-top: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
}

.attribution { 
    padding: 0.8rem;
    font-size: 0.68rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 652px) {
    .container{
        height: 100vh;
        justify-content: center;
    }

    .column-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
    }

    .card{
        height: 28rem;
        max-width: 14rem;
        position: relative;
    }

    h2{
        font-size: 2.3rem;
    }

    .sedan{

        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
        margin-top: 0rem;
    }

    .luxury{
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }

    .btn{
        position: absolute;
        bottom: 3rem;
    }

    .btn:active{
        background-color: transparent;
        border: 0.15rem solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }
}